html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

body {
  background-color: #041230;
  box-sizing: border-box;
}
.super-container-wrapper-all {
  width: 100%;
  height: auto;
  font-size: 2rem;
}

.container-left{  /*hover??*/
  width: 20%;
  height: 100%;
  position: fixed;
    border-right: 1px solid #b3985b;
  color: white;
  font-size: 3rem;
}

.container-right {
  width: 80%;
  height: 100%;
  padding: 2%;
  color: white;
  margin-left: 20%;
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.container-left ul {
  width: 100%;
  height: 50%;
 
}

.container-left nav {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-wrap:wrap;
  margin:50% auto;
}

.container-left ul li {
  display: inline-block;
  padding: 12% auto;
  text-align: center;
  width: 100;
  margin:10% 0;
  
  }

.container-left a, .container-left a:visited{
    text-decoration:none;
    color:white;
}

.me{
    width:100%;
   
}

.me img{
    width:100%;
    border-radius:100%;
    margin: 0 auto;
}

.text1st{
    width:40%;
}
